:root {
  --background-color: #F5F6F6;
  --main-text-color: #2D2D2D;
  --green-light: #1DEBA2;
  --green-medium: #41C1A1;
  --green-dark: #18976A;
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --footer: #F0F0F0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color); }

.logo {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-text-color); }

.main-nav {
  font-size: 2rem;
  font-weight: 500;
  margin-top: .5rem; }
  .main-nav ul {
    display: inline-block;
    list-style: none; }
  .main-nav__item {
    display: inline-block; }
  .main-nav__link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-text-color);
    padding-bottom: .5rem;
    margin: 1rem 2rem 0 2rem;
    transition: border-bottom .15s;
    border: 2px solid transparent; }
    .main-nav__link:hover, .main-nav__link:active {
      border-bottom: 2px solid var(--green-light); }
  .main-nav__login {
    text-decoration: none;
    color: var(--green-light);
    padding: .5rem 2rem;
    margin-left: 2rem;
    border: 2px solid var(--green-light);
    border-radius: 3px; }
    .main-nav__login:hover {
      background-color: var(--green-light);
      color: #fff; }

.search-box {
  position: relative;
  height: 50%;
  width: 55%; }
  .search-box__heading {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 6rem; }
    .search-box__heading--green {
      color: var(--green-light); }
  .search-box__search {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 45%;
    right: 0;
    height: 50%;
    width: 100%;
    background-color: #fff;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .search-box__search .to-from-when {
      display: flex;
      justify-content: space-around;
      margin-top: 2rem; }
    .search-box__search--to {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      margin-bottom: 2rem; }
      .search-box__search--to-location {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--grey-light-2);
        border: none;
        height: 3rem;
        padding-left: 1rem;
        margin-top: .6rem; }
    .search-box__search--from {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      margin-bottom: 2rem; }
      .search-box__search--from-location {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--grey-light-2);
        border: none;
        height: 3rem;
        padding-left: 1rem;
        margin-top: .6rem; }
    .search-box__search--when {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      margin-bottom: 2rem; }
      .search-box__search--when-date {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--grey-light-2);
        border: none;
        height: 3rem;
        padding-left: 1rem;
        margin-top: .6rem; }
    .search-box__search--options {
      display: flex;
      justify-content: flex-start;
      margin-left: 2.6rem;
      height: 2rem; }
      .search-box__search--options-route {
        margin-right: 2rem;
        border: none; }
      .search-box__search--options-passengers {
        border: none; }

.search-image {
  position: relative;
  height: 100%;
  width: 45%;
  background-image: url(../img/vert-1.jpg);
  background-size: cover; }
  .search-image__button-box {
    position: absolute;
    background-image: linear-gradient(to right, var(--green-medium), var(--green-dark));
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    height: 25%;
    width: 9rem; }
    .search-image__button-box--icon {
      fill: #fff;
      height: 3rem;
      width: 3rem; }

.top-destination {
  height: 100%;
  width: 55%;
  transform: translateY(-10rem);
  display: flex;
  flex-direction: column; }
  .top-destination__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 4rem;
    text-transform: uppercase; }
  .top-destination__card {
    position: relative;
    background-color: #fff;
    height: 37rem;
    width: 45rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--main-text-color); }
    .top-destination__card--picture {
      position: relative;
      background-image: url(../img/landscape-1.jpg);
      background-size: cover;
      background-position: bottom;
      height: 75%;
      width: 100%; }
    .top-destination__card--heading {
      font-size: 2rem;
      font-weight: bold;
      color: var(--main-text-color);
      margin: 2rem 0 2rem 2rem; }
    .top-destination__card--details {
      font-size: 1.6rem;
      margin: 0 0 2rem 2rem; }
    .top-destination__card--button {
      position: absolute;
      top: 50%;
      height: 10rem;
      width: 10rem;
      border-radius: 100%;
      background-color: blue; }

.qoute {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
  background-color: var(--background-color);
  font-size: 3rem;
  font-weight: 700;
  color: var(--main-text-color); }
  .qoute__content {
    width: 75%; }
    .qoute__content--text {
      margin-bottom: 1.2rem; }
    .qoute__content--author--text {
      font-size: 1.6rem; }

.benefits__heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10rem; }

.benefits__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 12rem; }
  .benefits__content--card {
    display: flex;
    max-width: 25rem;
    flex-direction: column;
    justify-content: start;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    text-align: center; }
    .benefits__content--card-iconbox {
      position: relative;
      width: 50%;
      margin: 2rem auto; }
      .benefits__content--card-iconbox-icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        fill: #000;
        height: 3rem;
        width: 3rem; }
    .benefits__content--card-header {
      align-self: center;
      font-size: 2rem;
      color: var(--green-light);
      margin: 2rem 0 0 0; }
    .benefits__content--card-text {
      font-size: 1.6rem;
      color: var(--main-text-color);
      margin: 2rem 1.5rem; }

.footer__card {
  background-color: #fff;
  height: 30rem;
  width: 60rem;
  margin: 0 auto;
  transform: translateY(-50%);
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .footer__card--content {
    display: flex;
    flex-direction: column;
    padding: 5rem; }
  .footer__card--header {
    font-size: 3rem;
    margin-bottom: .5rem; }
  .footer__card--text {
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .footer__card--form {
    display: flex;
    flex-direction: column; }
    .footer__card--form .email-line {
      margin-bottom: 2rem; }
    .footer__card--form .subscribe-line {
      display: flex;
      align-items: center; }
    .footer__card--form-email {
      height: 4rem;
      width: 30rem;
      background-color: var(--footer);
      border: none;
      font-size: 1.3rem;
      outline: none;
      padding: 0 1rem;
      text-align: left; }
    .footer__card--form-submit {
      background-color: var(--green-medium);
      color: #fff;
      border: none;
      height: 4rem;
      width: 14rem;
      margin-left: 2rem; }
    .footer__card--form-text {
      display: inline-block;
      font-size: 1.2rem;
      margin-left: .8rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 8rem 0 8rem; }

.section-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0 0 8rem;
  height: 85vh; }

.section-info {
  display: flex;
  align-items: center;
  margin: 3rem 0 1rem 8rem; }

.section-benefits {
  display: flex;
  flex-direction: column; }

.footer {
  height: 40rem;
  background-color: var(--footer);
  margin-top: 25rem; }
